@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

body {
    font-family: 'Pirata One', cursive;
    background: #000 url('../imagenes/inventario.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    color: #ffd700;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inventario-container {
    width: 90%;
    max-width: 1200px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

.inventario-titulo {
    font-size: 2.5em;
    text-shadow: 2px 2px 4px #ff4500, -2px -2px 4px #ffd700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.inventario-lista-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.inventario-lista {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.arma-box {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #ffd700;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 180px; /* Ajustado para ocupar menos espacio */
    margin-right: 5px; /* Reducido el margen */
    flex-shrink: 0;
    color: #ffd700;
}

.arma-box:hover {
    transform: scale(1.05);
}

.arma-box img {
    width: 100%;
    height: 120px; /* Ajustado el tamaño */
    object-fit: cover;
}

.arma-box h2 {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px 0; /* Reducido el padding */
    margin: 0;
    font-size: 1.3em;
}

.estadisticas {
    list-style-type: none;
    padding: 0;
    margin: 5px 0; /* Reducido el margen */
}

.estadisticas li {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3px 0; /* Reducido el padding */
    margin: 1px 0; /* Reducido el margen */
    font-size: 0.9em;
}

.nav-button {
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #ffd700;
    border-radius: 50%;
    width: 30px; /* Reducido el tamaño */
    height: 30px; /* Reducido el tamaño */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffd700;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: background 0.3s;
}

.nav-button:hover {
    background: rgba(255, 215, 0, 0.7);
}

#left-button {
    left: 5px;
}

#right-button {
    right: 5px;
}

.arma-equipada-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.arma-equipada-box {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #ffd700;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 180px; /* Ajustado para ocupar menos espacio */
    color: #ffd700;
}

.arma-equipada-box img {
    width: 100%;
    height: 120px; /* Ajustado el tamaño */
    object-fit: cover;
}

.arma-equipada-box h2 {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8px 0; /* Reducido el padding */
    margin: 0;
    font-size: 1.3em;
}

.volver-boton {
    padding: 10px 20px;
    background: linear-gradient(145deg, #ff4500, #ffd700);
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    font-size: 1.2em;
    margin-top: 20px;
}

.volver-boton:hover {
    background: linear-gradient(145deg, #ffd700, #ff4500);
    color: #fff;
}

.eliminar-boton, .equipar-boton {
    margin-top: 10px;
    padding: 5px 10px;
    background: linear-gradient(145deg, #ff4500, #ffd700);
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.eliminar-boton:hover, .equipar-boton:hover {
    background: linear-gradient(145deg, #ffd700, #ff4500);
    color: #fff;
}
